@import url("https://fonts.cdnfonts.com/css/bahnschrift");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

:root {
  --bgOrange: #e84949;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wraper {
  font-family: "Poppins";
  font-style: normal;
  height: 100%;
  width: 100%;
}
.navbar {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 3fr;
  width: 90%;
  margin-top: 0px;
  height: 70px;
}
.first-page {
  background-color: rgb(0, 0, 0);
}
#portname {
  font-family: "Bahnschrift";
  font-style: normal;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  height: 100%;
  width: 100%;
  font-size: 40px;
  line-height: 42px;
  color: white;
}
#portname:hover {
  cursor: pointer;
  font-size: 30px;
  transition: 0.4s;
  transition-delay: 0.3s;
  color: #b4b4b4;
}
.navbar ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
}
.navbar ul li {
  color: white;
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
}
.navbar ul button {
  color: white;
  width: 88px;
  height: 29px;
  background: #d21f46;
  font-size: 15px;
  font-weight: 300;
  margin: 0px auto;
  border: 1px solid #d21f46;
  border-radius: 40px;
  cursor: pointer;
}
.navbar ul li a {
  text-decoration: none;
  scroll-behavior: smooth;
  transition: all 0.6s;
  color: white;
}
.navbar ul li button:hover {
  transition: 0.5s;
  background-color: #7065da;
  transition-delay: 0.2s;
  font-weight: 400;
  color: black;
  border-radius: #7065da;
}
.navbar ul li a:hover {
  background-color: #5daab4;
  color: rgb(8, 7, 7);
  border-radius: 100px;
  font-weight: 600;
  transition: 0.6s;
  transition-delay: 0.3s;
  font-size: 15px;
}

.intro-page {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  height: 538.83px;
  margin: 0px auto;
  margin-top: 70px;
}
.left-intro {
  padding: 0px 25px;
}
.left-intro h1 {
  font-weight: 700;
  font-size: 52px;
  color: #595959;
  line-height: 75px;
}
.left-intro .role {
  color: rgb(185, 89, 89);
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
}
#self-intro {
  font-weight: 400;
  font-size: 25px;
  line-height: 45px;
  text-align: justify;
  margin-bottom: 80px;
}
.btn-pink {
  background-color: var(--bgOrange);
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
}
.btn-pink::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}
.btn-pink:hover::before {
  transform: scaleX(1);
}
.btn-pink:hover {
  border: solid 3px var(--bgOrange);
  color: black;
}
#btn-bottom {
  display: none;
}
.right-my-image img {
  position: absolute;
  width: 479px;
  height: 300px;
  top: 10px;
  right: 10px;
}
.right-my-image img {
  position: absolute;
  border-radius: 90%;
  background: linear-gradient(white, black);
  width: 600px;
  height: 530.83px;
  left: 742px;
  top: 150px;
}

/************** Middle-icons ********************/

.middle-icons {
  background-color: white;
  height: 190px;
}
.work-name {
  width: 327px;
  height: 71px;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  color: #b4b4b4;
  margin: 0px auto;
}
#icons-img {
  width: 771px;
  height: 100px;
  line-height: 30px;
  display: flex;
  margin: 0px auto;
  margin-bottom: 45px;
}

/************ Project Section *************/
section {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: black;
  color: white;
  gap: 30px;
  margin-bottom: 50px;
}
.projects {
  margin: 0px auto;
  width: 209px;
  height: 75px;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  /* identical to box height */
  margin-bottom: 40px;
}
.project1,
.project2 {
  display: flex;
  margin: 0 auto;
  gap: 40px;
  width: 90%;
  height: 268px;
}
#project-img1-left {
  border-radius: 20px;
  box-shadow: 0px 3px 1px 2px rgb(246, 246, 250);
  width: 390px;
  height: 270px;
}
#project-img1-left:hover {
  cursor: pointer;
  width: 400px;
  transition: 0.5s;
  animation-delay: 0.4s;
  height: 280px;
  box-shadow: 2px 5px 1px rgb(226, 211, 211);
}
.right {
  width: 775px;
  height: 409px;
}
.project-name {
  width: max-content;
  height: 75px;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
}
.discrip {
  width: 695px;
  height: 325px;
  font-weight: 400;
  font-size: 25px;
  line-height: 45px;
  text-align: justify;
}

/********* About Me Section **********/
.about-me-section {
  background-color: white;
  height: 100%;
  width: 90%;
  margin: 0px auto;
}
.about-me-box {
  display: flex;
  gap: 60px;
  width: 90%;
  height: 701px;
}
.left-me {
  width: 550px;
  height: 700.14px;
  background-color: black;
  border-radius: 100px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.about-me-name {
  width: 206px;
  height: 60px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height */
  color: #000000;
}
.who-i-am {
  width: 495px;
  height: 150px;
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  /* identical to box height */
  color: #e1e1e1;
}
.info-lines {
  width: 595px;
  height: 423px;
  font-weight: 400;
  font-size: 35px;
  line-height: 52px;
  text-align: justify;
}
.btns {
  display: flex;
  justify-content: space-between;
}
/********* Contact Us ************/
.contact-section {
  height: 100vh;
  margin: 0 auto;
  width: 90%;
}
.contactus-container {
  width: 100%;
  background-color: rgb(231, 231, 231);
}
.contactus-heading {
  padding-top: 2rem;
  font-size: 5em;
  color: rgb(221, 82, 105);
}
.contactus-sub-heading {
  font-size: 3rem;
  text-transform: capitalize;
  color: #343d68aa;
}
.contactus-form-container {
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
  margin: 2rem 5rem;
}
.formfield-container {
  width: 100%;
}
.formfield {
  width: 100%;
  height: 42px;
  padding: 0 2rem;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #1f1f1f;
  background: #ffffff97;
  font-weight: 500;
}
.formfield:focus {
  border: none;
}
.formfield-textarea {
  height: auto;
  padding-top: 1rem;
}
#submit-btn {
  border: none;
  font-size: 1.4rem;
  margin: 1rem 0;
}
#submit-btn:hover {
  scale: 0.9;
}
.submit-icon {
  padding: 0 1rem;
  font-size: 1.5rem;
}

footer {
  height: 50%;
  width: 100%;
  position: relative;
  margin-top: -1px;
  background: #343d68;
  padding-top: 5rem;
  padding-bottom: 0rem;
  padding: 5rem;
  bottom: -250px;
}
.footer-wrapper {
  display: flex;
  gap: 1rem;
  padding: 1.9rem;
  align-items: center;
  justify-content: space-between;
}
.footer-faded-text {
  font-size: 5em;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #535c87;
  user-select: none;
}
.link-wrapper {
  display: flex;
  gap: 1.2rem;
}
.link-wrapper div a {
  color: white;
  text-decoration: none;
}

.link-wrapper div a:hover {
  color: black;
  font-size: 10px;
  transition: 1.5s;
  animation-delay: 0.5s;
  background-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
}
.icon-wrapper {
  display: flex;
  color: black;
  gap: 1rem;
}
